#container {
    height: 600px;
    width: 450px;
    display: flex;
    flex-direction: column;
    background-color: 	#FF10F0;
    border: 0px;

}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;

}

div {
    border: 1px solid black;
}

.row {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

#display {
    width: 95%;
    height: 90%;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 60px;
    gap: 2px;
    border-radius: 10px;
}

button {
    height: 90%;
    flex: 1;
    margin: 5px;
    font-size: 40px;
    background-color:#1F51FF;
    border-radius: 10px;
}

button:hover {
    cursor: pointer;
}

#btn-0 {
    flex: 2.333333333;
}


.numeric {
    background-color: #39FF14
}

#display {
    background-color: white;
}

